{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Seat Plan Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="navbar">Exam Seat Planning System</div>

    <div class="container">
        <div class="card-grid">

            <div class="card">
                <h3>Create Hall</h3>
                <a href="/hall/create/">Add Hall</a>
            </div>

            <div class="card">
                <h3>Create Exam</h3>
                <a href="/exam/create/">Add Exam</a>
            </div>

            <div class="card">
                <h3>Generate Seat Plan</h3>
                <a href="/seatplan/select/">Generate</a>
            </div>

            <div class="card">
                <h3>View Seat Plans</h3>
                <a href="/seatplan/list/">View Plans</a>
            </div>

        </div>
    </div>
</body>
</html>
