{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Seat Plan Dashboard</title>
    <link rel="stylesheet" href="{% static 'seatplan/css/main.css' %}">
    <script src="{% static 'seatplan/js/main.js' %}"></script>
</head>

<body>
    <div class="navbar">Exam Seat Planning System</div>

    <div class="container">
        <div class="card-grid">

            <!-- Create Hall -->
            <div class="card">
                <h3>Create Hall</h3>
                 <a href="{% url 'seatplan_create_hall' %}">Add Hall</a>
            </div>

            <!-- Create Exam -->
            <div class="card">
                <h3>Create Exam</h3>
                 <a href="#">Add Exam</a>
            </div>

            <!-- Generate Seat Plan -->
            <div class="card">
                <h3>Generate Seat Plan</h3>
                 <a href="{% url 'seatplan_select' %}">Generate</a>
            </div>

         
            <div class="card">
                <h3>View Seat Plans</h3>
                 <a href="{% url 'seatplan_select' %}">View Plans</a>
            </div>

        </div>
    </div>
</body>
</html>
